.spain {
    background-image: url(../images/spain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    align-items: center;

    &__block {
        background-color: rgba(35, 35, 35, 0.9);
        width: 50%;
        padding: 50px 50px 30px 25px;

    }

    &__country {
        color: #e8e8e8;
        font-family: 'JosefinSans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        padding-bottom: 30px;
    }

    &__title {
        color: white;
        font-family: 'JosefinSans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    &__subname {
        color: #e8e8e8;
        font-family: 'JosefinSans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding-bottom: 50px;
    }

    &__button {
        color: white;
        font-family: 'Aleo';
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        background-color: #5474fd;
        border: 0;
        height: 60px;
        width: 45%;
        opacity: 1;
        background-image: url(../images/button.png);
        background-position: left;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: #A9A9A9;
            background: none;
            border: 1px solid #5474fd;
        }
    }

    @media screen and (max-width: 768px) {
        &__block {
            width: 75%;
            
        }

        &__title {
            font-size: 18px;
        }

        &__country {
            font-size: 16px;
        }

        &__subname {
            font-size: 12px;
        }

        &__button {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 425px) {
        &__block {
            width: 100%;
        }
    }
}